body {
  font-size: medium;
}

li {
  list-style: none;
}
#navbar {
  border-right: solid 2px;
  border-color: #d3d3d3;
  position: fixed;
  width: 240px;
}

#main-doc {
  position: relative;
  left: 280px;
  word-wrap: normal;
  width: auto;
}

@media (max-width: 800px) {
}
