body {
  font-size: medium;
}

li {
  list-style: none;
}
#navbar {
  border-right: solid 2px;
  border-color: #d3d3d3;
  position: fixed;
  width: 240px;
}

#main-doc {
  margin: 0px 5px 0px 250px;
}

@media (max-width: 800px) {
}
